---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home";
---

<BaseLayout>
	<title>{pageTitle}</title>
	<div class="btn text-btn">Under construction...</div>
</BaseLayout>
