---
---
<div class="flex gap-4 justify-center p-4">
    <a class="hover:underline" href="/">Home</a>
    <a class="hover:underline" href="/about">About</a>
    <a class="hover:underline" href="/blog">Blog</a>
</div>