---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---
<div>Astro</div>
<div class="btn text-btn">
	This site is under construction.
</div>
<section id="links">
	<a class="button" href="https://docs.astro.build">Read our docs</a>